@font-face {
    font-family: "HelveticaNeueRegular";
    src: url("./fonts/HelveticaNeue-01.ttf");
}

@font-face{
    font-family: "HelveticaNeueMedium";
    src: url("./fonts/HelveticaNeue-Medium-11.ttf");
}

@font-face{
    font-family: "HelveticaNeueBold";
    src: url("./fonts/HelveticaNeue-Bold-02.ttf");
}

:root{
    /* gmk cafe inspired*/
    --bgcolor: #E3E3D8;
    --txtcolor: #453F3C;
    --accentcolor: #855b5b;
}

.olivia{
    /*gmk olivia inspired*/
    --bgcolor: #2F2F2F;
    --txtcolor: #F7F0E5;
    --accentcolor: #FFD1C0;
}

html{
    font-family: "HelveticaNeueRegular", Helvetica;
    background-color: var(--bgcolor);
    color: var(--txtcolor);
}

body {
    background-color: var(--bgcolor);
    color: var(--txtcolor);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a{
    color: var(--accentcolor)
}

a:hover{
    color: var(--txtcolor);
    text-decoration: underline;
}

.project-item a{
    color: var(--accentcolor);
    text-decoration: none;
}

.project-item a:hover{
    text-decoration: underline;
    color: var(--accentcolor);
}

.project-item li{
    color: var(--txtcolor);
}

.centered{
    text-align: center
}

header{
    border-bottom: 2px solid var(--accentcolor);
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 0;
}

h1{
    font-size: 4em;
    margin-bottom: 10px;
    padding-bottom: 0;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

h4{
    margin-top: 0;
    margin-bottom: 0;
}

h1, h2, h3, h4{
    color: var(--accentcolor);
    font-family: "HelveticaNeueMedium", Helvetica;
}

main{
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;

    max-width: 95%;

    flex-grow: 1;
}

.reactive{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.aboutme{
    max-width: 40%;
    line-height: 1.5;
}

.headshot{
    height: 50vw;
    width: 50vw;
    max-height: 400px;
    max-width: 400px;

    object-fit: cover;
    object-position: 0% center;

    border-radius: 50%;
    border: 2px solid var(--accentcolor); 

    margin-top: 20px
}

.navbar{
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

.navbar a{
    border-left: 2px solid var(--accentcolor);
    padding-left: 10px;
    text-decoration: none;
    font-size: 17px;
}

.navbar p{
    color: var(--accentcolor)
}

.navbar a:hover{
    text-decoration: underline;
    color: var(--accentcolor);
}

.navbar a:first-child{
    border-left: none;
}

.icon{
    width: 32;
    height: 32;
}

.icon path,
.icon circle {
    fill: var(--accentcolor);
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

#theme-switcher{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 0;
    background-color: transparent;
}

.gallery-container {
    display: grid;

    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);
    
    gap: 20px;
    padding: 20px;
    
    max-width: 100%;

    margin: 0 auto;
}

.photo-card img {
    width: 100%;
    height: auto;
}

.photo-card h3{
    padding: 0;
    margin-top: 0.5vh;
    margin-bottom: 0.25vh;
}

.photo-card p{
    padding: 0;
    margin-top: 0.25vh;
    margin-bottom: 0.25vh;
}

@media (max-aspect-ratio: 1/1){ /*for ipad type displays*/
    .gallery-container {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }
}

@media (max-aspect-ratio: 3/4){ /*for mobile*/
    h1{
        font-size: 3em;
    }

    .headshot{
        height: 50vw;
        width: 50vw;
    }

    .reactive{
        flex-direction: column;
        text-align: center;
        gap: 5px
    }

    .aboutme{
        line-height: 1.2;
        max-width: 100%;
    }

    .navbar a{
        font-size: 15px;
    }

    .gallery-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        gap: 15px;
    }
}