@font-face {
    font-family: "MyFont";
    src: url("./fonts/Outfit-Regular.ttf");
}

html, body {
    font-family: "Helvetica";
    background-color: #e6aa68;/*#d1be9c;*/
    color: #2f1e1e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a{
    color:#000000
}

.centered{
    text-align: center
}

header{
    border-bottom: 2px solid #000000;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 0;
}

h1{
    font-size: 4em;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.reactive{
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    max-width: 95%;
}

.aboutme{
    max-width: 40%;
    line-height: 1.5;
}

.headshot{
    height: 50vw;
    width: 50vw;
    max-height: 400px;
    max-width: 400px;

    object-fit: cover;
    object-position: 0% center;

    border-radius: 50%;
    border: 2px solid #000000; 

    margin-top: 20px
}

@media (max-width: 768px){ /*for mobile*/
    h1{
        font-size: 2em;
    }

    .headshot{
        height: 50vw;
        width: 50vw;
    }

    .reactive{
        flex-direction: column;
        text-align: center;
    }

    .aboutme{
        max-width: 100%;
    }
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

.navbar a{
    border-left: 2px solid #000000;
    padding-left: 10px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover{
    text-decoration: underline;
}

.navbar a:first-child{
    border-left: none;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}