@font-face {
    font-family: "MyFont";
    src: url("./fonts/Outfit-Regular.ttf");
}

:root{
    /* gmk cafe theme*/
    --bgcolor: #E3E3D8;
    --txtcolor: #453F3C;
    --accentcolor: #855b5b;
}

.olivia{
    /*gmk olivia*/
    --bgcolor: #2F2F2F;
    --txtcolor: #F7F0E5;
    --accentcolor: #FFD1C0;
}

html, body {
    font-family: "Helvetica";
    background-color: var(--bgcolor);/*#d1be9c;*/
    color: var(--txtcolor);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

a{
    color: var(--txtcolor)
}

.centered{
    text-align: center
}

header{
    border-bottom: 2px solid var(--accentcolor);
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 0;
}

h1{
    font-size: 4em;
    margin-bottom: 10px;
    padding-bottom: 0;
    
    color: var(--accentcolor);
}

h2{
    color: var(--accentcolor);
}

.reactive{
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

    max-width: 95%;
}

.aboutme{
    max-width: 40%;
    line-height: 1.5;
}

.headshot{
    height: 50vw;
    width: 50vw;
    max-height: 400px;
    max-width: 400px;

    object-fit: cover;
    object-position: 0% center;

    border-radius: 50%;
    border: 2px solid var(--accentcolor); 

    margin-top: 20px
}

@media (max-width: 768px){ /*for mobile*/
    h1{
        font-size: 2em;
    }

    .headshot{
        height: 50vw;
        width: 50vw;
    }

    .reactive{
        flex-direction: column;
        text-align: center;
        gap: 5px
    }

    .aboutme{
        line-height: 1.2;
        max-width: 100%;
    }
}

.navbar{
    margin-top: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 

.navbar a{
    border-left: 2px solid var(--accentcolor);
    padding-left: 10px;
    text-decoration: none;
    font-size: 17px;
}

.navbar p{
    color: var(--accentcolor)
}

.navbar a:hover{
    text-decoration: underline;
    color: var(--accentcolor);
}

.navbar a:first-child{
    border-left: none;
}

.icon{
    width: 32;
    height: 32;
}

.icon path,
.icon circle {
    fill: var(--accentcolor);
    /* stroke: var(--accentcolor); */
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

#theme-switcher{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 0;
    background-color: var(--bgcolor);
}